body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background-size: 400% 400%;
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  gap: 13rem;
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
}

.container:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.container:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

h1 {
  margin-left: 4rem;
  margin-top: 2rem;
}

.inner-paragraph {
  border: 4px solid black;
  width: 24rem;
}

p:nth-child(even) {
  background-color: rgb(204, 202, 202);
}

.second-board {
  display: flex;
  justify-content: space-between;
}

.recent {
  margin-left: 1rem;
}

.refresh-button {
  height: 1.7rem;
  width: 6rem;
  margin-top: 1rem;
}

.score-dashboard {
  width: 21rem;
  display: flex;
  flex-direction: column;
}

.Score {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 9.4rem;
}

.submit-button {
  height: 1.7rem;
  width: 4rem;
  margin-left: 7rem;
}
